<%= render :partial => 'spree/admin/importation_process/menu' %>
<h1>Acciones a Realizar</h1>
<br />
<ul>
	<% @importation_attachment.process.each do |message| %>
	<li>
		<%= message[:sku] %>, <b><%=@importation_attachment.get_message_by_collection_status message[:status] %></b>
	</li>
	<% end %>
</ul>
